body{
    background-image:url(/user-ui/test/combo/IMG/pokeball.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

 }
 .texto{
     text-align: center;
     color: #fff;   
     background-image: url(/user-ui/test/combo/IMG/pikachu.jpg);    
 }
 
 #tablaContainer{
    margin-top: 25px;    
    text-align: center;
 }

